<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<global>
	
	</global>
	<AgentMNGName>
		<targetList>agent-a,agent-b</targetList>
		<agnet-a>
			<class>DBAgentTask</class>
		</agnet-a>
		<agnet-b>
			<class>DBAgentTask</class>
		</agnet-b>
	</AgentMNGName>
	<ALTResultHandler>
		<enableInclude>N</enableInclude>
		<waitOnNoData>2</waitOnNoData>
	</ALTResultHandler>
	<agnet-b>
		<enableInclude>Y</enableInclude>
	</agnet-b>
</configuration>