<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<global>
	
	</global>
	<AgentMNGS>
		<AgentMNG>
			<name></name>
			<targets>ALTResultWorker</targets>
			<ALTResultWorker>
				<class>ResultWorker</class>
			</ALTResultWorker>
		</AgentMNG>
	</AgentMNGS>
	<ALTResultWorker>
		<enableInclude>N</enableInclude>
		<waitOnNoData>2</waitOnNoData>
	</ALTResultWorker>
</configuration>